<h2 class="sub-header">Block List</h2>
<div class="table-responsive" >
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Ledger Commit Time</th>
        <th>Transactions</th>
        <th>State Hash</th>
        <th>Previous Block Hash </th>
        <th>Transaction Results</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="block in blockList">
        <td>{{block.id}}
        <td>{{block.block.nonHashData.localLedgerCommitTimestamp.seconds * 1000 + block.block.nonHashData.localLedgerCommitTimestamp.nanos / 1000000 | date:'medium'}}</td>
        <td>{{block.block.transactions.length}}</td>
        <td>{{block.block.stateHash | limitTo:30}}</td>
        <td>{{block.block.previousBlockHash | limitTo:30}}</td>
        <td><p ng-repeat="result in block.block.nonHashData.transactionResults">
                      {{result | limitTo:30}}
            </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
