
  <div class="row" style="font-size:30px">
      User List <button type="button" class="btn btn-secondary btn-lg" ng-click="update()">Update</button>
  </div>
  <div class="table-responsive" >
    <div class="row">
      <div class="col-xs-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>User</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(user, value) in userList">
              <td>{{user}}</td>
              <td>{{value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
