<!DOCTYPE html>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <title>Blockchain viewer</title>
</head>


<body>
  <div class="container-fluid" >
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-8">
            <h1>Blockchain viewer</h1>
          </div>
          <div class="col-xs-4">
            <div  ng-controller="heightCtrl">
              <h2>Chain height <span class="label label-default">{{height}}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">

    <div  ng-controller="chainCtrl">
      <h3>Chain Stats</h3>
      <div class="row" ng-repeat="(key, value) in chainStats">
       <div class="col-xs-2">{{key}}</div>
       <div class="col-xs-6">{{value}}</div>
     </div>
    </div>
  </div>

  </div>
  <div class="panel panel-default" ng-controller="blockCtrl">
    <div class="panel-heading">
      <h3 class="panel-title">Block Details <input ng-model='blockID' ng-change="change()"></h3>
    </div>
    <div class="panel-body" style = 'word-wrap: break-word;'>
      <pre>{{block}}</pre>
    </div>
    <div class="panel-body" style = 'word-wrap: break-word;'>
      <h4> Payload </h4>
      <pre>{{payload}}</pre>
    </div>
  </div>



    <h2 class="sub-header">Block List</h2>
    <div class="table-responsive" ng-controller="blockListCtrl">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Ledger Commit Time</th>
            <th>Transactions</th>
            <th>Type</th>
            <th>Playload </th>
            <th>UUID</th>
            <th>CC ID</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="block in blockList">
            <td>{{block.nonHashData.localLedgerCommitTimestamp.seconds * 1000 + block.nonHashData.localLedgerCommitTimestamp.nanos / 1000000 | date:'medium'}}</td>
            <td>{{block.transactions.length}}</td>
            <td>{{block.transactions[0].type}}</td>
            <td>{{block.transactions[0].payload.chaincodeSpec.ctorMsg}}</td>
            <td>{{block.transactions[0].uuid | limitTo:30}}</td>
            <td>{{block.transactions[0].chaincodeID | limitTo:30}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <user-list></user-list>



    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
          <div class="input-group-addon">.00</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Transfer cash</button>
    </form>


  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"> </script>
<script src="./js/controller.js"></script>
</body>
</html>
