<!DOCTYPE html>
<html ng-app="myApp">
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <title>Blockchain viewer</title>
</head>


<body>
  <div class="container-fluid" >
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-8">
            <h1>Blockchain viewer</h1>
          </div>
          <div class="col-xs-4">
            <div  ng-controller="heightCtrl">
              <h2>Chain height <span class="label label-default">{{height}}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">

    <div  ng-controller="chainCtrl">
      <h3>Chain Stats</h3>
      <div class="row" ng-repeat="(key, value) in chainStats">
       <div class="col-xs-2">{{key}}</div>
       <div class="col-xs-6">{{value}}</div>
     </div>
    </div>
  </div>

  </div>
  <div class="panel panel-default" ng-controller="blockCtrl">
    <div class="panel-heading">
      <h3 class="panel-title">Block Details <input ng-model='blockID' ng-change="change()"></h3>
    </div>
    <div class="panel-body">
      {{block}}
    </div>
  </div>



    <h2 class="sub-header">Block List</h2>
    <div class="table-responsive" ng-controller="blocksCtrl">
      <table class="table table-striped">
        <thead>
          <tr>
            <th># Transactions</th>
            <th>Type</th>
            <th>Playload Length</th>
            <th>UUID</th>
            <th>CC ID</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="block in blocks">
            <td>{{block.transactions.length}}</td>
            <td>{{block.transactions[0].type}}</td>
            <td>{{block.transactions[0].payload.length}}</td>
            <td>{{block.transactions[0].uuid | limitTo:30}}</td>
            <td>{{block.transactions[0].chaincodeID | limitTo:30}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"> </script>
<script src="./js/controller.js"></script>
</body>
</html>
